<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite3" verbose="1">
	<listeners>
		<listener class-name="done.mm.qa.ExtentReportListner.ExtentReporterNG" />
	</listeners>
	<test name="done.mm.qa.testcases">
		<classes>
			<class name="done.mm.qa.testcases.CreatePCTest" />


		</classes>
	</test>
</suite>