<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite3" verbose="1">
	<listeners>
		<listener class-name="done.mm.qa.ExtentReportListner.ExtentReporterNG" />
	</listeners>
	<test name="done.mm.qa.testcases">
		<classes>
			<class name="done.mm.qa.testcases.CreateNewPCTest" />
			<class name="done.mm.qa.testcases.UpdatePCTest" />
			<class name="done.mm.qa.testcases.LaunchPCOfferingTest" />
		    <class name="done.mm.qa.testcases.PCOUpdateTest" />
			<class name="done.mm.qa.testcases.PCStatusLivPauseTest" />
			<class name="done.mm.qa.testcases.PCOfferingCompleteTest" />
			<class name="done.mm.qa.testcases.LaunchPCSecondMarketTest" />
			<class name="done.mm.qa.testcases.PCMUpdateTest" />
	
		</classes>
	</test>
</suite>