<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite3" verbose="1">
	<listeners>
		<listener class-name="done.mm.qa.ExtentReportListner.ExtentReporterNG" />
	</listeners>
	<test name="done.mm.qa.testcases">
		<classes>

			<class name="done.mm.qa.testcases.CancelAllOrderTest" />
			<class name="done.mm.qa.testcases.DeleteIPTest" />
			<class name="done.mm.qa.testcases.CancelAllOrderBATest" />
			<class name="done.mm.qa.testcases.CancelSingleOrderTest" />
			<class name="done.mm.qa.testcases.ChangeOrderDetailsTest" />
			<class name="done.mm.qa.testcases.AddIpForBrokerTestq" />
			<class name="done.mm.qa.testcases.CreateMasterTest" />
			<class name="done.mm.qa.testcases.ManualLegdeEntryTest" />
			<class name="done.mm.qa.testcases.CancelAllOrderBUTest" />
			<class name="done.mm.qa.testcases.SetPrecisionTest" />
			<class name="done.mm.qa.testcases.DeactivateAndActivateMasterTest" />

		</classes>
	</test>
</suite>